@charset "UTF-8";

.aboutGameView {
	padding: 3% 12%;
	color: #181151;
}

.aboutGameView h1 {
	margin-top: 1ch;
}

.aboutGameView h2 {
	margin-top: 4ch;
	display: inline-block;
}

.aboutGameView img {
	width: 4ch;
	margin: 0 1ch;
}

.aboutGameView .close {
	width: 2ch;
	cursor: pointer;
	float: right;
}

.aboutGameView a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	margin-top: 2ch;
	background-color: white;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 3ch;
	padding: 0.4ch 3.6ch;
	border: 0ch solid white;
	border-radius: 3ch;
	transition: filter 0.3s linear 0s;
}

.aboutGameView .childfriendly {
	background-image: url(../images/logo_childfriendly.svg);
}

.aboutGameView .chasgromad {
	background-image: url(../images/logo_chasgromad.svg);
}

.aboutGameView .abra {
	background-image: url(../images/logo_abra.svg);
}

.aboutGameView .lmr {
	background-image: url(../images/logo_lmr.svg);
}

.aboutGameView a:hover {
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}