@charset "UTF-8";

@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes left-slide-in {
  0% {
    left: -250%;
  }

  100% {
    left: 0;
  }
}

@keyframes righ-slide-out {
  0% {
    left: 0%;
  }

  100% {
    left: 250%;
  }
}

.decisionWithQuestionStageView .background,
.decisionWithQuestionStageView .foreground .trivia,
.decisionWithQuestionStageView .foreground .options,
.decisionWithQuestionStageView .ya-MatteButton {
	animation-duration: 1.3s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.decisionWithQuestionStageView .background,
.decisionWithQuestionStageView .ya-MatteButton {
	animation-name: fade-in;
	animation-delay: 0s;
}

.decisionWithQuestionStageView.fadeOut .background,
.decisionWithQuestionStageView.fadeOut .ya-MatteButton {
	animation-name: fade-out;
	animation-delay: 0.2s;
}

.decisionWithQuestionStageView.fadeOut .background,
.decisionWithQuestionStageView.fadeOut .foreground .ya-MatteButton {

	/* animation initial value*/
	opacity: 1;
}

.decisionWithQuestionStageView .foreground .trivia,
.decisionWithQuestionStageView .foreground .options {
	animation-name: left-slide-in;
		
	/* animation initial value*/
	left: -200%;
}

.decisionWithQuestionStageView .foreground .trivia {
	animation-delay: 0.5s;
}

.decisionWithQuestionStageView .foreground .options {
	animation-delay: 0.5s;
}

.decisionWithQuestionStageView.fadeOut .foreground .trivia,
.decisionWithQuestionStageView.fadeOut .foreground .options {
	animation-name: righ-slide-out;
	
	/* animation initial value*/
	left: 0;
}

.decisionWithQuestionStageView.fadeOut .foreground .trivia {
	animation-delay: 0.1s;
}

.decisionWithQuestionStageView.fadeOut .foreground .options {
	animation-delay: 0.3s;
}

/* > Decision With Question Stage View ____________________________________ */
.decisionWithQuestionStageView {
	position: relative;
	background-color: white;
	overflow: hidden;
}

.decisionWithQuestionStageView .background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	/* animation initial value*/
	opacity: 0;
}

.decisionWithQuestionStageView .foreground {
	padding: 3% 5% 0 5%;
}

.decisionWithQuestionStageView .foreground .trivia {
	position: relative;
	display: block;
	text-align: center;
	
	/* animation initial value*/
	left: -200%;
}

.decisionWithQuestionStageView .foreground .trivia .text {
	padding: 18px 32px;
	font-size: 24px;
	font-weight: bold;
	line-height: 140.19%;
}

.decisionWithQuestionStageView .foreground .options {
	position: relative;
	margin: 3em 0;
	font-weight: 500;
	font-size: 18px;
	color: #03290B;
	text-transform: uppercase;
	
	/* animation initial value*/
	left: -200%;
}

.decisionWithQuestionStageView .foreground .options span {
	padding: 10px 3em 10px 12px;
	border: 5px solid white;
	border-radius: 50px;
	background-color: #EBEBEB;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
	transition: background-color 0.3s linear 0s, filter 0.3s linear 0s;
}

.decisionWithQuestionStageView .foreground .options span:hover {
	background-color: #d6d6d6;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

.decisionWithQuestionStageView .foreground .ya-MatteButton {
	opacity: 0;
}