@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes left-slide-in {
  0% {
    left: -250%;
  }

  100% {
    left: 0;
  }
}

@keyframes righ-slide-out {
  0% {
    left: 0%;
  }

  100% {
    left: 250%;
  }
}

.decisionWithIntroStageView .background,
.decisionWithIntroStageView .foreground .trivia,
.decisionWithIntroStageView .foreground .options,
.decisionWithIntroStageView .ya-MatteButton,
.decisionWithIntroStageView.fadeOut .background,
.decisionWithIntroStageView.fadeOut .foreground .trivia,
.decisionWithIntroStageView.fadeOut .foreground .options,
.decisionWithIntroStageView.fadeOut .ya-MatteButton {
	animation-duration: 0.7s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-delay: 0s;
}

.decisionWithIntroStageView .background,
.decisionWithIntroStageView .ya-MatteButton {
	animation-name: fade-in;
}

.decisionWithIntroStageView .foreground .trivia,
.decisionWithIntroStageView .foreground .options {
	animation-name: left-slide-in;
	animation-delay: 0.2s;
}

.decisionWithIntroStageView.fadeOut .background,
.decisionWithIntroStageView.fadeOut .foreground .ya-MatteButton {
	animation-name: fade-out;
	
	/* animation initial value*/
/* 	opacity: 1; */
}

.decisionWithIntroStageView.fadeOut .foreground .trivia,
.decisionWithIntroStageView.fadeOut .foreground .options {
	animation-name: righ-slide-out;
/* 	left: 0; */
}

/* > Decision With Introduction Stage View ________________________________ */

.decisionWithIntroStageView {
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

.decisionWithIntroStageView .background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	background-size: contain;
	
	/* animation initial value*/
	opacity: 0;
}

.decisionWithIntroStageView .foreground {
	padding: 3% 0 0 5%;
}

.decisionWithIntroStageView .foreground .trivia {
	position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    box-shadow: 0px 0px 15px #D8E3CB;
	border-radius: 20px;
	background-color: white;
	
	/* animation initial value*/
	left: -200%;
}

.decisionWithIntroStageView .foreground .trivia .border {
    min-width: 16px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
}

.decisionWithIntroStageView .foreground .trivia .border div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.decisionWithIntroStageView .foreground .trivia .border .layer0 {
	background: linear-gradient(278.85deg, #087732 21.33%, #07C84F 114.32%);
	box-shadow: 0px 0px 15px #D8E3CB;
	border-radius: 20px 0px 0px 20px;
}

.decisionWithIntroStageView .foreground .trivia .border .layer1 {
	background: radial-gradient(73.02% 357.03% at 57.03% 131.25%, #575757 7.65%, #313131
		25.94%, #161616 48.44%, #060606 88%, #000000 100%);
	background-blend-mode: color-dodge;
	mix-blend-mode: color-dodge;
	transform: matrix(0, -13, -1, 0, 0, 19);
    top: 23.84%;
    bottom: 57.03%;
}

.decisionWithIntroStageView .foreground .trivia .text {
	padding: 18px 32px;
    font-weight: bold;
}

.decisionWithIntroStageView .foreground .options {
	position: relative;
	margin: 3em 0;
	font-weight: 500;
	color: #03290B;
	
	/* animation initial value*/
	left: -200%;
}

.decisionWithIntroStageView .foreground .ya-MatteButton {
	opacity: 0;
}
@media (min-width: 0px) {
	.decisionWithIntroStageView .foreground {
		padding: 3% 2% 0 5%;
		font-size: 1em;
	}
}

@media (min-width: 425px) {
	.decisionWithIntroStageView .foreground {
		padding: 3% 2% 0 5%;
	}
}

@media (min-width: 780px) {
	.decisionWithIntroStageView .foreground {
		width: 70%;
		padding: 3% 0 0 5%;
	}
}

@media (min-width: 1280px) {
	.decisionWithIntroStageView .foreground {
		width: 50%;
		padding: 3% 0 0 5%;
	}
}

@media ( min-width : 2560px) {
	
	.decisionWithIntroStageView .foreground {
		font-size: 2.2vmin;
		line-height: 2.5vmin;
	}
}

