@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.storySummariesView > img {
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-delay: 1s;
	width: 100vmin;
}

.storySummariesView > .gwt-Image.fadeIn {
	animation-name: fade-in;
}

/* > Story Summaries View ____________________________________________________ */

.storySummariesView {
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	background-size: 100vmin;
}

.storySummariesView > img {
	position: absolute;
	right: 0;
	bottom: 0;
	
	opacity: 0;
}

.storySummariesView .bar {
	position: relative;
	display: flex;
	gap: 1em;
	padding: 1em 0 0 0;
	height: 9vmin;
	min-height: 9vmin;
	max-height: 9vmin;
	min-width: 40%;
	justify-content: center;
	align-items: center;
}

.storySummariesView .bar div {
	transition: all 1s;
	width: 5em;
	height: 5em;
}

.storySummariesView .bar img {
	width: 100%;
}

.storySummariesView .bar img:hover {
	cursor: pointer;
}

.storySummariesView .bar .hidden {
	width: 0;
	height: 0;
	border: none;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.storySummariesView .bar .visible {
	padding: 2em;
}

.storySummariesView .main {
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2vmax;
	overflow-y: clip;
/* 	width: 90%; */
}

.storySummariesView .main .ya-DecisionOutcome {
	transition: opacity 0.5s, top 1.2s;
}

.storySummariesView .main .ya-DecisionOutcome.pos0 {
	position: absolute;
	top: -300%;
	opacity: 0;
}

.storySummariesView .main .ya-DecisionOutcome.pos1 {
	top: 0%;
	opacity: 1;
}

.storySummariesView .main .ya-DecisionOutcome.pos2, 
.storySummariesView .main .ya-DecisionOutcome.pos3,
.storySummariesView .main .ya-DecisionOutcome.pos-1 {
	position: absolute;
	top: 3000%;
}

@media (min-width: 0px) {
	.storySummariesView .main {
	}
}

@media (min-width: 425px) {
	.storySummariesView .main {
	}
}

@media (min-width: 780px) {
	.storySummariesView .main {
	}
}

@media (min-width: 1280px) {
	.storySummariesView .main {
	}
}

@media ( min-width : 2560px) {
	
	.storySummariesView .main {
		font-size: 2.2vmin;
		line-height: 2.5vmin;
	}
}
