@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gameResultsView, 
.gameResultsView .resultMessage, 
.gameResultsView .resultPoints .ya-Emoji {
	animation-duration: 0.7s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-delay: 0s;
}

.gameResultsView,
.gameResultsView .resultMessage.fadeIn {
	animation-name: fade-in;
}

/* .gameResultsView .resultPoints .ya-Emoji { */
/* 	animation-delay: 0.1s; */
/* 	animation-duration: 0.3s; */
/* 	animation-name: fade-in; */
/* } */

/* .gameResultsView .resultPoints .ya-Emoji.fadeOut { */
/* 	animation-duration: 0.2s; */
/* 	animation-name: fade-out; */
/* } */

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

.gameResultsView {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.gameResultsView>div {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	padding: 4em 0;
}

.gameResultsView>div>img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

.gameResultsView .resultBar {
	width: 84%;
	height: 3em;
	border: 10px solid rgba(0, 0, 0, 0);
	border-radius: 2em;
	box-shadow: 0px 0px 15px 10px #0c294f80;
	background-color: rgb(25 50 80/ 70%);
}

.gameResultsView .background, .gameResultsView .mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.gameResultsView .background {
	border: 7px solid white;
	border-radius: 2em;
	background: linear-gradient(90deg, rgba(215,7,7,1) 0%, rgba(251,255,0,1) 50%, rgba(0,222,64,1) 100%);
	overflow: hidden;
	box-shadow: inset 0 0 6px 2px #6b7eaf;
}

.gameResultsView .mask {
	background-color: #003173;
	opacity: 1;
	border-left: 10px solid #15437a;
	box-shadow: inset 0px 0px 11px 2px #030c18;
}

.gameResultsView .resultPoints {
	background: radial-gradient(50% 50% at 50% 50%, #2B448C 15.62%, #1E3679 64.83%,
		#071D59 100%);
	border-radius: 90px;
	padding: 0.5em 2em;
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	min-height: 4em;
	min-width: 6.5em;
	box-shadow: 0px 0px 16px #05102d;
}

.gameResultsView .resultPoints .ya-Emoji {
/* 	opacity: 0; */
}

.gameResultsView .resultPoints .ya-Emoji img {
	width: 3em;
}

.gameResultsView .resultMessage {
	max-width: 66%;
	background: #04174A;
	border-radius: 30px;
	text-align: center;
	padding: 2em 1em;
	text-transform: uppercase;
	
	box-shadow: 0px 0px 16px #05102d;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

@media ( min-width : 0px) {
	.gameResultsView>div {
		width: 92%;
	}
	.gameResultsView .resultMessage {
		min-height: 5.5em;
	}
	.gameResultsView .resultBar {
		height: 4em;
	}
}

@media ( min-width : 425px) {
}

@media ( min-width : 780px) {
	.gameResultsView .resultMessage {
		min-height: 3em;
	}
	.gameResultsView .resultBar {
		height: 3em;
	}
}

@media ( min-width : 1024px) {
	.gameResultsView>div {
		width: 68%;
	}
}

@media ( min-width : 1280px) {
	.gameResultsView>div {
		width: 47%;
	}
}

@media ( min-width : 2560px) {
	.gameResultsView {
		font-size: 2vmin;
		line-height: 2.7vmin;
	}
}