@charset "UTF-8";

/* > Options List Selection Stage View ________________________________________ */

.optionsStageView {
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

.optionsStageView .background {
	/* animation initial value*/
	opacity: 1;
}

.optionsStageView .foreground {
	padding: 3% 5% 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.optionsStageView .foreground .trivia {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	box-shadow: 0px 0px 15px #D8E3CB;
	border-radius: 1ch;
	background-color: white;
}

.optionsStageView .foreground .trivia .border {
	min-width: 16px;
	border-radius: 0px 20px 20px 0px;
	position: relative;
}

.optionsStageView .foreground .trivia .border div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.optionsStageView .foreground .trivia .border .layer0 {
	background: linear-gradient(278.85deg, #087732 21.33%, #07C84F 114.32%);
	box-shadow: 0px 0px 15px #d8e3cb;
	border-radius: 0 20px 20px 0;
}

.optionsStageView .foreground .trivia .emoji {
	display: inline-block;
	width: 7%;
	margin-left: 2em;
	padding: 40px 0;
}

.optionsStageView .foreground .trivia .text {
	padding: 40px 32px;
	font-weight: bold;
	flex-grow: 1;
}

.optionsStageView .foreground .options {
	position: relative;
	display: flex;
	margin: 2em 0;
}

.optionsStageView .foreground .options button {
	color: #054513;
	background: #C4E5CD;
	border-radius: 4ch;
	border: 1ch solid white;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
	text-transform: uppercase;
	padding: 1.5ch 2ch;
	margin: 1em;
	transition: background-color 0.2s linear 0.2s, color 0.2s linear 0s,
		filter 0.2s linear 0s;
}

.optionsStageView .foreground .options button:disabled {
	color: #f3f3f3;
	background-color: #cacaca;
}

.optionsStageView .foreground .options button:not([disabled]):hover {
	color: white;
	background-color: #2BA14C;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

.optionsStageView .foreground .ya-MatteButton {
	margin: 1em;
	opacity: 1;
}

@media (min-width: 0px) {
	.optionsStageView .foreground .options {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}

@media (min-width: 780px) {
	.optionsStageView .foreground .options {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.optionsStageView .foreground .options button {
		max-width: 45%;
		min-width: 35%;
	}
}

@media (min-width: 1280px) {
	.optionsStageView .foreground {
	}
	
	.optionsStageView .foreground .options button {
	}
}

@media ( min-width : 2560px) {
	
	.optionsStageView .foreground {
	}
	
	.optionsStageView .foreground .options button {
		max-width: 45%;
	}
}