@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes left-slide-in {
  0% {
    left: -250%;
  }

  100% {
    left: 0;
  }
}

@keyframes righ-slide-out {
  0% {
    left: 0%;
  }

  100% {
    left: 250%;
  }
}

.optionsStageView .background,
.optionsStageView .foreground .trivia,
.optionsStageView .foreground .options,
.optionsStageView .ya-MatteButton,
.optionsStageView.fadeOut .background,
.optionsStageView.fadeOut .foreground .trivia,
.optionsStageView.fadeOut .foreground .options,
.optionsStageView.fadeOut .ya-MatteButton {
	animation-duration: 0.7s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-delay: 0s;
}

.optionsStageView .background,
.optionsStageView .ya-MatteButton {
	animation-name: fade-in;
}

.optionsStageView .foreground .trivia,
.optionsStageView .foreground .options {
	animation-name: left-slide-in;
}

.optionsStageView .foreground .options {
	animation-delay: 0.3s;
}

.optionsStageView.fadeOut .background,
.optionsStageView.fadeOut .ya-MatteButton {
	animation-name: fade-out;
}

.optionsStageView.fadeOut .foreground .trivia,
.optionsStageView.fadeOut .foreground .options {
	animation-name: righ-slide-out;
}

/* > Options List Selection Stage View ________________________________________ */

.optionsStageView {
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

.optionsStageView .background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	background-size: contain;
	background-color: white;
	
	/* animation initial value*/
	opacity: 0;
}

.optionsStageView .foreground {
	padding: 3% 5% 0 5%;
}

.optionsStageView .foreground .trivia {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	box-shadow: 0px 0px 15px #D8E3CB;
	border-radius: 1ch;
	background-color: white;
	
	/* animation initial value*/
	left: -200%;
}

.optionsStageView .foreground .trivia .border {
	min-width: 16px;
	border-radius: 0px 20px 20px 0px;
	position: relative;
}

.optionsStageView .foreground .trivia .border div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.optionsStageView .foreground .trivia .border .layer0 {
	background: linear-gradient(278.85deg, #087732 21.33%, #07C84F 114.32%);
	box-shadow: 0px 0px 15px #d8e3cb;
	border-radius: 0 20px 20px 0;
}

.optionsStageView .foreground .trivia .emoji {
	display: inline-block;
	width: 7%;
	margin-left: 2em;
	padding: 40px 0;
}

.optionsStageView .foreground .trivia .text {
	padding: 40px 32px;
	font-weight: bold;
	flex-grow: 1;
}

.optionsStageView .foreground .options {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 2em 0;
	/* animation initial value*/
	left: -200%;
}

.optionsStageView .foreground .options button {
	color: #054513;
	background: #C4E5CD;
	border-radius: 4ch;
	border: 1ch solid white;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
	text-transform: uppercase;
	padding: 1.5ch 2ch;
	margin: 1em;
	transition: background-color 0.2s linear 0.2s, color 0.2s linear 0s,
		filter 0.2s linear 0s;
}

.optionsStageView .foreground .options button:disabled {
	color: #f3f3f3;
	background-color: #cacaca;
}

.optionsStageView .foreground .options button:not([disabled]):hover {
	color: white;
	background-color: #2BA14C;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

.optionsStageView .foreground .ya-MatteButton {
	margin: 1em;
	opacity: 0;
}

@media (min-width: 0px) {
	.optionsStageView .foreground {
	}
}

@media (min-width: 425px) {
	.optionsStageView .foreground {
	}
}

@media (min-width: 780px) {
	.optionsStageView .foreground {
	}
}

@media (min-width: 1280px) {
	.optionsStageView .foreground {
	}
}

@media ( min-width : 2560px) {
	
	.optionsStageView .foreground {
		font-size: 2.2vmin;
		line-height: 2.5vmin;
	}
}