@charset "UTF-8";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.storiesListView h1,
.storiesListView .storySelectionList,
.storiesListView.fadeOut .h1,
.storiesListView.fadeOut .storySelectionList {
	animation-duration: 1.3s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.storiesListView h1,
.storiesListView .storySelectionList {
	animation-name: fade-in;
}

.storiesListView.fadeOut h1,
.storiesListView.fadeOut .storySelectionList {
	animation-name: fade-out;
	animation-delay: 0s;
}

.headerPanel {
	opacity: 1;
}

.storiesListView h1 {
	animation-delay: 0.2s;
}

.storiesListView .storySelectionList {
	animation-delay: 0.6s;
}

/* > Story selection view _________________________________________________ */

.storiesListView {
	padding: 7% 0;
	text-align: center;
	color: white;
	argin: 3em 0;
}

.storiesListView .storySelectionList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;

	/* animation initial value*/
	opacity: 0;
}

.storiesListView h1 {
	
	/* animation initial value*/
	opacity: 0;
}