@charset "UTF-8";

/* > Story Summaries View ____________________________________________________ */

.storySummariesView {
	position: relative;
	color: white;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
    gap: 1em;
	overflow-y: hidden;
}

.storySummariesView .bar {
	position: relative;
	display: flex;
    gap: 1em;
    padding: 1em 0 0 0;
    height: 9vmin;
    min-height: 9vmin;
    max-height: 9vmin;
    min-width: 40%;
    justify-content: center;
    align-items: center;
}

.storySummariesView .bar div {
	transition: all 1s;
	width: 5em;
	height: 5em;
}

.storySummariesView .bar img {
	width: 100%;
}

.storySummariesView .bar img:hover {
	cursor: pointer;
}

.storySummariesView .bar .hidden {
	width: 0;
	height: 0;
	border: none;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.storySummariesView .bar .visible {
	padding: 2em;
}

.storySummariesView .main {
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vmax;
	overflow-y: clip;
}

.storySummariesView .main .ya-DecisionOutcome {
	transition: opacity 0.5s, top 1.2s;
}

.storySummariesView .main .ya-DecisionOutcome.pos0 {
	position: absolute;
	top: -300%;
	opacity: 0;
}

.storySummariesView .main .ya-DecisionOutcome.pos1 {
	top: 0%;
	opacity: 1;
}

.storySummariesView .main .ya-DecisionOutcome.pos2,
.storySummariesView .main .ya-DecisionOutcome.pos3,
.storySummariesView .main .ya-DecisionOutcome.pos-1 {
	position: absolute;
	top: 3000%;
}


