@charset "UTF-8";

/* > Story selection view _________________________________________________ */

.storiesListView {
	padding: 7% 0;
	text-align: center;
	color: white;
	argin: 3em 0;
}

.storiesListView .storySelectionList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;

	/* animation initial value*/
	opacity: 1;
}

.storiesListView h1 {
	
	/* animation initial value*/
	opacity: 1;
}

.storiesListView .gwt-Button {
	opacity: 1;
}

/* ========================================================================== */
@media ( min-width : 0px) {
}

@media ( min-width : 425px) {
}

@media ( min-width : 780px) {
}

@media ( min-width : 1024px) {
}

@media ( min-width : 1280px) {
}

@media ( min-width : 2560px) {

}
