@charset "UTF-8";

/* > Welcome ______________________________________________________________ */

.welcomeView {
	color: white;
}

.welcomeView .background {
	background-image: url("../images/puzzle_picture_logo.svg");
}

.welcomeView .foreground {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	position: relative;
	top: 12%;
	height: 88%;
	left: 0;
	width: 100%;
	padding: 0 5% 10% 5%;
	box-sizing: border-box;
	gap: 2em;
}

.welcomeView .foreground .welcomeMsg, 
.welcomeView .foreground .descriptionMsg,
.welcomeView .foreground .controlsPanel {
	/* animation initial value*/
	opacity: 1;
}

.welcomeView .foreground .welcomeMsg div, 
.welcomeView .foreground .descriptionMsg div,
.welcomeView .foreground .controlsPanel div:not(.cotrol) {
	/* animation initial value*/
	-webkit-flex-grow: 0;
	flex-grow: 0;
}

.welcomeView .foreground .welcomeMsg :not(div), 
.welcomeView .foreground .descriptionMsg :not(div),
.welcomeView .foreground .controlsPanel .cotrol {
	flex-shrink: 0;
}

.welcomeView .foreground .controlsPanel .cotrol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

.welcomeView .foreground .controlsPanel input {
	background-color: rgba(27, 22, 77, 0.8);
}

@media ( min-width : 2560px) {
	.welcomeView .background {
		background-size: 40%;
	}
	
	.welcomeView .foreground {
	}
}

@media (max-width: 780px) {
	.welcomeView .background {
		background-size: 80%;
	}
}

@media (max-width: 425px) {
	.welcomeView .background {
		background-size: 80%;
	}
	
	.welcomeView .foreground {
		top: 12vmin;
	}
}